# ignore all .pyc files
*.pyc
*pycache*
# ignore all .dat files
*.dat
# ignore all .stl files
*.stl
# ignore all figures
*.svg
*.png
*.jpg
*.eps
# ignore all .pdf files
*.pdf
# ignore all .txt files
*.txt
# ignore all .opj files
*.opj
*.opju
